<div class="task-index">
<div class="task-index__title"><h1><%= t('tasks.index.title') %></h1></div>
<div class="task-index__notice"><p><%= notice %></p></div>
<%= link_to"終了期限でソート", tasks_path("ニャホニャホ": "true")%>

 <%#= form_with(model: @tasks, method: :get, local: true, url: tasks_path) do |f| %>
   <%#= f.label :title_search, "仕事名検索" %>
   <%#= f.text_field :title %>
   <%#= f.submit "検索"%>
 <%# end %>

<table>
  <tr>
    <div class="task-index__taskname"><th><%= t('tasks.index.taskname') %></th></div>
    <div class="task-index__taskcontent"><th><%= t('tasks.index.taskcontent') %></th></div>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.limit %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
    <td><%= link_to "仕事を編集する", edit_task_path(task.id) %></td>
    <td><%= link_to '仕事を削除する', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>

  </tr>
<% end %>
</table>

<br>

<%= link_to '新しく仕事を登録する', new_task_path %>
</div>