<div class="task-index">
<div class="task-index__title"><h1><%= t('tasks.index.title') %></h1></div>
<div class="task-index__notice"><p><%= notice %></p></div>
<%= link_to"終了期限でソート", tasks_path("ニャホニャホ": "true")%>
<%= link_to"優先順位でソート", tasks_path("priority": "true")%>

 <%#= form_with(model: @tasks, method: :get, local: true, url: tasks_path) do |f| %>
   <%#= f.label :title_search, "仕事名検索" %>
   <%#= f.text_field :title %>
   <%#= f.label :status_search, "進捗検索" %>
   <%#= f.select :status,["","未着手","着手中","完了"] %>
   <%#= f.submit "検索"%>
 <%# end %>
 
 <%= search_form_for @search do |f| %>
  <%= f.label :title_cont, "仕事名" %>
  <%= f.text_field :title_cont %>
  <%= f.label :status_cont, "進捗" %>
  <%= f.select :status_eq,["","未着手","着手中","完了"] %>
  <%= f.submit %>
 <% end %>

<table>
  <tr>
    <div class="task-index__taskname"><th><%= t('tasks.index.taskname') %></th></div>
    <div class="task-index__taskcontent"><th><%= t('tasks.index.taskcontent') %></th></div>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.limit %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
      <td><%= link_to "仕事を編集する", edit_task_path(task.id) %></td>
      <td><%= link_to '仕事を削除する', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>  
    </tr>
  <% end %>
  <%= paginate @tasks %>
</table>
  
<br>

<%= link_to '新しく仕事を登録する', new_task_path %>
</div>