<div class="task-show">
<div class="task-show__title"><h1><%= t("tasks.show.title") %></h1></div>
  <p><%= t("tasks.show.taskname") %>: <%= @task.title %></p>
	<p><%= t("tasks.show.taskcontent") %>: <%= @task.content %></p>
	<p><%= t("tasks.show.limit") %>: <%= @task.limit %></p>
	<p><%= t("tasks.show.status") %>: <%= @task.status %></p>
  <p><%= t("tasks.show.priority") %>: <%= @task.priority %></p>
</div>